PUBLIC_ORIGIN=https://relay.example.com
VAPID_SUBJECT=mailto:relay@example.com
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
TEST_TOKEN=
STORAGE_KEY=
BUILD_VERSION=
MYSQL_HOST=mysql.example.com
MYSQL_PORT=3306
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
